div{
    padding: 25px 25px;
    text-align: center;
}
#box-1{
    background-color: rgb(247, 240, 240);
    color: aqua;
    height: 40px;
    width: 150px;
    margin: 10px;
    border-radius: 50pc;
    border-color: aqua  ;
    border-style: solid;
    border-width: 2px;
    font-style: normal;
   font-size: larger;

}

#box-2{
   background-color: aqua; 
   height: 40px;
   width: 40px;
   margin: 10px;
   font-style: normal;
   font-size: larger;
   color:white;
   border-radius: 50px;
   border-style: solid;
   border-color: aqua;
   
}

#box-3{
    background-color: rgb(19, 83, 179);
    color: white;
    height: 40px;
    width: 250px;
    margin: 10px;
    border-color:black;
    border-style: solid;
    border-width: 2px;
    box-shadow: black;
    font-style: normal;
   font-size: larger;
   color:white;
}